.customLinkText {
    font-size: 30px;  
}
:root{
    --sapButton_Background: #21432c;
    --sapButton_Text: #ffffff;
    --sapFontFamily: 	"72","72full",Arial,Helvetica,sans-serif;
}
.gap{
    display: flexbox;
    gap: 10px;
}
.page{
    font:"72","72full",Arial,Helvetica,sans-serif;
}